DEBUG=True
SECRET_KEY=your-secret-key-here

POSTGRES_DB=inuka_db
POSTGRES_USER=inuka_user
POSTGRES_PASSWORD=inuka_pass

POSTGRES_HOST=db
POSTGRES_PORT=5432

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
