# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.env
.env.*
!.env.example

# Virtualenv
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Docker
*.pid
