@layer theme {
  :root {
    --p-primary-50: #e8f7ff;
    --p-primary-100: #c5ebff;
    --p-primary-200: #82d4ff;
    --p-primary-300: #3dbdff;
    --p-primary-400: #00aeef;
    --p-primary-500: #0095d4;
    --p-primary-600: #007bb3;
    --p-primary-700: #006292;
    --p-primary-800: #004a72;
    --p-primary-900: #003252;
    --p-primary-950: #001a2e;
  }
}
